body{
  color:brown;
  font-size:1.2em;
  font-family:sans-serif;
}
#new{
  font-weight:bold;
  font-style:italic;
}
#footer{
  background:#33CCFF;
  font-family:Arial;
  color:#3333FF;
  padding:10px;
  border:2px dashed #3333FF;

}
#notice{
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
#headline{
  color:aqua;
}
