html, body {min-height: 100%;}

body{
  background-color:#FFFFFF;
  color:#666666;
  background-image:url(ptrbackground.jpg);
  font-family:Helvetica;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
header{
  background-color:#000033;
  color:#FFFFFF;
    height:50px;

}
nav{

  padding-left:20px;
  padding-right:5px;
  padding-top:20px;
  padding-bottom:5px;
  font-weight:bold;
  float:left;
  width:160px;
}
label{
    float:left;
    display:block;
    text-align:right;
    width:120px;
    padding-right:20px;
}
input{
    display:block;
    margin-bottom:20px;
}
textarea{
    display:block;
    margin-bottom:20px;
}
h2{
  color:#3399CC;
  font-family:Georgia;
  text-shadow: 1px 1px 1px #ccc;
}
dt{
  color:#000033;
}
.resort{
  color:#5C7FA3;
  font-weight:bold;
}
#clear{
    clear:both;
}
h1{
  margin-bottom:0px;
  font-family:Georgia;
 background-image:url(sunset.jpg);
 background-repeat:no-repeat;
 background-position:right;
  padding-left:10px;
  padding-right:10px;
 }
h3{
  color:#000033;
  font-family:serif;
}
ul{
  list-style-image: url(marker.gif);
}
footer{
  padding:20px;
  font-size:75%;
  font-style:italic;
  font-family:Times;
  background-color:#FFFFFF;
  margin-left:190px;
  text-align:left;
}
nav li{
    display:block;
}
nav ul{
    list-style-type:none;
    font-size:1.2em;
    margin:0px;
    padding-left:0px;
}
nav a{
    text-decoration:none;
    -webkit-transition:3s;
    -moz-trasition:3s;
    -o-transition:3s;
    transition:3s;
}
img{
    max-width:100%;
    height:auto;
}
#content img{
    float:left;
    padding-right:20px;
}
#content video{
    float:left;
    padding-right:20px;
}
#content embed{
    float:left;
    padding-right:20px;
}
#wrapper{
  margin-left:auto;
  margin-right:auto;
  width:80%;
  background-color:#90C7E3;
  min-width:960px;
  box-shadow: 5px 5px 5px #000033;
}
#content{
  background-color:#FFFFFF;
  padding-top:1px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:30px;
  margin-left:190px;
  }
#content img{
    float:left;
    padding-right:20px;
    }
#contact{
  font-size:90%;
  padding-left:20px;
 }
#content ul{
  list-style-position:inside;
  }
  nav a:visited{
      color:#344873;
  }
  nav a:link{
      color:#000033;
  }
  nav a:hover{
      color:#FFFFFF;
  }
  #mobile{
      display:none;
  }
  #desktop{
      display:inline;
  }
  #content table{
    border:1px solid #3399CC;
    width:80%;
    border-spacing:0;
  }
  #content th{
    border:1px solid #3399CC;
    border-spacing:0;
    background-color:#F5FAFC;
  }
  #content td{
    padding:5px;
    border:1px solid #3399CC;
    text-align:center;
  }
  .text{
    text-align:left;
  }
  tr:nth-of-type(even){
    background-color:#F5FAFC;
  }
  #content img{
      float:none;

      text-align:left;
      color:#3399CC;
  }
  footer{
      clear:both;
  }
#gallery {
                position: relative;
}
#gallery ul {
                list-style-type: none;
                width: 300px;
}
#gallery li {
                display: inline;
                 float: left;
                 padding: 10px;
}
#gallery img { border-style: none;
}
#gallery a {
             text-decoration: none;
             font-style: italic;
             color: #3399CC;
}
#gallery span {
                position: absolute;
                left: -1000px;
               opacity: .25;
              -webkit-transition:  opacity .5s ease-in-out;
              -moz-transition:   opacity .5s ease-in-out;
              -o-transition:  opacity .5s ease-in-out;
              transition:  opacity .5s ease-in-out;
}
#gallery a:hover span {
            position: absolute;
            top: 16px;
            left: 320px;
            text-align: center;
            opacity: 1;
}
figure {    position: absolute;
            left: 280px;
            opacity:0;

}


  @media only screen and (max-width:768px){
        body{
            margin:0px;
        }
        #wrapper{
            min-width:0px;
            width:auto;
        }
        #wrapper img{
            height:auto;
        }

        #content{
            margin-left:0px;
        }
        nav{
            float:none;
            width:auto;
            padding:0px;
        }
        nav ul{
            text-align:center;
        }


        nav li{
            display:inline;
            padding-top:0px;
            padding-bottom:0px;
            padding-left:.75em;
            padding-right:.75em;
        }
        footer{
            margin-left:0px;
        }
        #gallery{
            position:relative;
        }
  }
  @media only screen and (max-width:480px){
        body{
            margin:0px;
        }
        #wrapper{
            width:auto;
            min-width:0px;
            margin:0px;
        }
        #content{
            padding-top:0.1em;
            padding-bottom:0.1em;
            padding-left:1em;
            padding-right:1em;
            margin:0em;
            font-size:90%;
        }
        h1{
            margin:0em;
            font-size:1.5em;
            padding-left:0.3em;
        }
        nav ul{
            padding:0em;
        }
        nav li{
            margin:0em;
            border-bottom:2px solid #330000;
            display:block;
        }
        nav a{
            display:block;
        }
        label{
            float:none;
            text-align:left;
        }

        #content img{
            clear:both;
            padding:0em;
            margin:.1em;
        }
        #content ul{
            list-style-position:outside;
        }
        #gallery img{
            display:none;
        }
        #mobile{
            display:inline;
        }
        #desktop{
            display:none;
        }
  }
